
header {
	width: 100%;
	background: $header-color;
	height:$header-height;
	#header_text {
		font-weight:300;
		font-size:40px;
		padding-top:75px;
		margin-left:auto;
		padding-left:30px; // makes it look more centered, oddly enough
		margin-right:auto;
		width:200px;
		overflow:visible;
	}
}

%header_word {
	opacity:0;
	display:block;
	vertical-align: center;
	float:left;
	margin-left:auto;
	margin-right:auto;
	-webkit-transform: rotate(-10deg) skew(-10deg, 0);
       -moz-transform: rotate(-10deg) skew(-10deg, 0);
        -ms-transform: rotate(-10deg) skew(-10deg, 0);
         -o-transform: rotate(-10deg) skew(-10deg, 0);
            transform: rotate(-10deg) skew(-10deg, 0);
    a {
    	color:$header-text-color;
    }
}

.mask {
    width: 100%;
    position: absolute;
    height: 50px;
    background-color: $header-color;
}

#header_reid {
	@extend %header_word;
	margin-top: 0px;
	.mask {
		top:30px;
	}
}

#header_savage {
	@extend %header_word;
	margin-top: -7px;
	.mask {
		top: -30px;
	}
}

#header_links {
	margin-left: auto;
	margin-right:auto;
	width:300px;
	margin-top:90px;

	ul {
		white-space:nowrap;

		li {
			display:inline;
			font-weight:200;
			font-size:15px;
			margin: 18px;

			a {
				color:$link-color;
				&:visited {
				color:$link-color-visited;
				}
			}
		}
	}
	.menu_selected {
	border-bottom: solid 1px #C5ADC5;
	}
}