body {
	$list-margin: 33px;
	font-family: $font-stack;
	font-size:$font-size;

	a {
		text-decoration: none;
	}
	$h-size: $font-size + 20;
	@for $i from 1 through 6 {
  		#{h}#{$i} {
  			font-weight: bold;
  			font-size: $h-size;
  			$h-size: $h-size - 3;
  		}
	}
	p {
		margin-left:20px;
	}
	ul {
		margin-left:$list-margin;
		list-style: disc;
		list-style-type: disc;
		li {
			list-style-type: disc;
		}
	}
	ol {
		margin-left:$list-margin;
		list-style:lower-roman;
	}
	input[type="text"], textarea {
	  	padding: 1px;
	  	border: none;
	  	border-bottom: solid 2px #c9c9c9;
	  	transition: border 0.3s;
	  	outline: none;
  		&:focus {
  			border-bottom: solid 2px #969696;
  		}
	}
}