$font-stack: 'Open Sans', sans-serif;
$content-font-stack: 'Source Sans Pro', sans-serif;
$font-size: 100%;
$body-font-color:rgb(75, 76, 77);
$body-strong-font-color: rgb(101, 115, 114);
$header-color: #fbf8ea;
$link-color: #C5ADC5;
$link-color-visited: $link-color;
$header-height: 225px;
$header-text-color: #d7aaaa;

@import 'reset';

@import 'content';

@import 'header';

@import 'helpers';

#stage {
	width:100%;
}
