@import 'reset';

$font-stack: 'Open Sans', sans-serif;
$font-size: 16px;
$header-color: #fbf8ea;
$link-color: #C5ADC5;
$link-color-visited: $link-color;
$header-height: 225;
$header-text-color: #d7aaaa;

@import 'page';

#stage {
	width:100%;
}

header {
	width: 100%;
	background: $header-color;
	height:$header-height;

	#header_text {
		color: $header-text-color;
		font-weight:300;
		font-size:40px;
		padding-top:75px;
		margin-left:auto;
		margin-right:auto;
		width:200px;
		overflow:visible;
	}
}

/* this class doesn't exist in the DOM - the header words inherit from it */
.header_word {
	opacity:0;
	display:inline-block;
	vertical-align: center;
	margin-left:auto;
	margin-right:auto;
	-webkit-transform: rotate(-10deg) skew(-10deg, 0);
       -moz-transform: rotate(-10deg) skew(-10deg, 0);
        -ms-transform: rotate(-10deg) skew(-10deg, 0);
         -o-transform: rotate(-10deg) skew(-10deg, 0);
            transform: rotate(-10deg) skew(-10deg, 0);
}

.mask {
    width: 100%;
    position: absolute;
    height: 50px;
    background-color: $header-color;
}

#header_reid {
	@extend .header_word;
	display: block; margin-top: 0px; float: left; opacity: 1;
	.mask {
		top:30px;
	}
}

#header_savage {
	@extend .header_word;
	display: block; margin-top: -5px; float: left; opacity: 1;

	.mask {
		top: -33px;
	}
}

#header_links {
	margin-left: auto;
	margin-right:auto;
	width:300px;
	margin-top:90px;

	ul {
		white-space:nowrap;

		li {
			display:inline;
			font-weight:200;
			font-size:15px;
			margin: 18px;

			a {
				color:$link-color;
				&:visited {
				color:$link-color-visited;
				}
			}
		}
	}
	.menu_selected {
	border-bottom: solid 1px #C5ADC5;
	}
}