<html>
<head>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/stampit/2.1.0/stampit.min.js"></script> -->

<link href="style.css" rel="stylesheet" type="text/css" />
<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,300bold' rel='stylesheet' type='text/css'>
<meta name="viewport" content="width=device-width">
<title>{{ title }} -- quercy.co</title>
</head>
<body>
<div id="stage">
	<header>
		<div id="header_text">
			<span id="header_reid">reid<div class='mask'></div></span><span id="header_savage">savage<div class='mask'></div></span>
		</div>
		<div id="header_links">
			<ul>
				<li {% if title.lower() == "bio" %} class="menu_selected" {% endif %}><a href="#">bio</a></li>
				<li {% if title.lower() == "projects" %} class="menu_selected" {% endif %}><a href="#">projects</a></li>
				<li {% if title.lower() == "contact" %} class="menu_selected" {% endif %}><a href="#">contact</a></li>
			</ul>
		</div>
	</header>
</div>
</body>
<script src="app.js" type="text/javascript"> </script>
</html>