---
title: "Elangstic - Elasticsearch and AngularJS 1.x"
layout: post.hbt
blog: true
tagline: ""
active: false
date: 2015-10-25
---

<p class="comment">&lt;!-- If you want to skip to the code, hop over to <a href="#" target="_blank">Github</a>. --&gt; </p>

<h3>Introduction</h3>
<p>I've been messing with both Elasticsearch and Angular recently, and had the (not so bright) idea to try connecting to Elasticsearch through Angular. It isn't a crazy complicated process when you are already familiar with all of the different APIs you need as well as how to use the Elasticsearch client, but it took a long time for me to figure out.</p>
<p>Basically, it looks something like this: <a href="https://www.elastic.co/guide/en/elasticsearch/client/javascript-api/current/browser-builds.html#_angular_build" target="_blank">elasticsearch.angular.js</a> provides us with the official JavaScript client for connecting to Elasticsearch - this angular-specific flavor wraps the client in a factory (as in the design pattern, not the Angular Service) which we can use to create a service. <a href="http://www.fullscale.co/elasticjs/" target="_blank">elastic.js</a> is "a JavaScript implementation of the ElasticSearch DSL [(domain specific language)] for use with the official elasticsearch JavaScript client." This makes it relatively easy to construct Elasticsearch queries, which is really not worth your time to figure out.</p>

<h3>The documentation</h3>
<p>This is what really killed me. I thought I had a relatively simple problem - "do a full text search across all fields" - which, in terms of Elasticsearch, they don't really encourage you to do; there are also an immense amount of query types, and just finding the list of types which I could use was a task in itself. Aaaanyway, here it is:</p>
<p>
    <h4>The client</h4>
    <p>
    The client provided by elasticsearch.angular.js isn't too hard. The list of parameters can be found on <a href="http://docs.fullscale.co/elasticjs/ejs.Request.html" target="_blank">fullscale.co</a>. For particular interest for me were the Elasticsearch index, the number of results ("size"), and the actual query ("body"). This body is constructed by...
    <h4>The JS Elasticsearch DSL</h4>
    Remember elasticsearch.angular.js? Defined in the window as "ejs", we use that object to construct a query body. My request looks like this:
    <pre><code class="javascript">ejs.Request().query(ejs.PrefixQuery('_all', term))</code></pre>
    
    </p>

</p>

<h3 id="structure">1. Structure</h3>
<h4>Angular</h4>
<pre><code class='javascript'>
angular.module('Elangstic')
    .constant('elasticConfig', {
        // the address and log level for elasticsearch will go here
    })

    .controller('SearchCtrl', function() {
        // this will control the textbox for searching and display of results
    })

    .directive('egResult', function() {
        // this will be a directive that binds the result to the dom via a template
    })

    .factory('SearchMdl', function() {
        // the search model will build a facade around the confusing ES client
    })

    .service('esClient', function () {
        // this will actually instantiate the connection to the elasticsearch server
    });
</code></pre>
<h4>HTML</h4>
<pre><code class="html">
&lt;!DOCTYPE html&gt;
&lt;html ng-app=&quot;Elangstic&quot;&gt;
    &lt;head&gt;
    &lt;!-- JS, CSS --&gt;
    &lt;/head&gt;
    &lt;body&gt;
        &lt;div ng-controller=&quot;SearchCtrl&quot;&gt;
            &lt;!-- Search input and results --&gt;
        &lt;/div&gt;
    &lt;/body&gt;
&lt;/html&gt;
</code></pre>
<p>The code above should be pretty straightforward if you are at least a little familiar with Angular 1.x. In the Angular app, we define a <strong>global constant</strong> to access the variables we need to connect to the Elasticsearch instance; an <strong>esClient service</strong> to use those constants to connect to the Elasticsearch instance; a <strong>search model</strong> in the form of a factory to abstract away the specifics of an Elasticsearch query; a <strong>controller</strong> to provide this functionality to the view, and a <strong>directive</strong> to make it easier to display the results. In the HTML, all we did is make the root node (html) the location of the app, and give SearchCtrl a div as its domain.

<h3 id="document">2. HTML</h3>
<pre><code class="html">
&lt;!DOCTYPE html&gt;
&lt;html ng-app=&quot;Elangstic&quot;&gt;
&lt;head&gt;
    &lt;script src=&quot;angular.js&quot;&gt;&lt;/script&gt;
    &lt;script src=&quot;elasticsearch.angular.js&quot;&gt;&lt;/script&gt;
    &lt;script src=&quot;elastic.js&quot;&gt;&lt;/script&gt;
    &lt;script src=&quot;site.js&quot;&gt;&lt;/script&gt;
    &lt;link href=&quot;bootstrap.css&quot; rel=&quot;stylesheet&quot; type=&quot;text/css&quot;&gt;
    &lt;link href=&quot;site.css&quot; rel=&quot;stylesheet&quot; type=&quot;text/css&quot;&gt;
&lt;/head&gt;
&lt;body class=&quot;ng-cloak&quot;&gt;
    &lt;div ng-controller=&quot;SearchCtrl as sc&quot; class=&quot;container&quot;&gt;
        &lt;div class=&quot;row&quot;&gt;
            &lt;input 
                type=&quot;text&quot; ng-model=&quot;sc.term&quot;
                ng-change=&quot;sc.updateResults()&quot; ng-init=&quot;sc.updateResults()&quot; 
                class=&quot;form-control&quot;&gt;
            &lt;/input&gt;
            &lt;div class=&quot;col-xs-1&quot; ng-repeat=&quot;heading in sc.headings&quot;&gt;
                {{ ::heading }}
            &lt;/div&gt;
        &lt;/div&gt;
        &lt;div ng-repeat=&quot;result in sc.results&quot; class=&quot;row&quot;&gt;
            &lt;eg-result&gt;&lt;/eg-result&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;/body&gt;
&lt;/html&gt;
</code></pre>
<p>
    A few new things. On the Angular side, we included elastic.js - the <a href="#" target="_blank">official Elasticsearch JavaScript client</a> - which provides us with the means to easily query the Elasticsearch server; <a href="#" target="_blank">elastic.js</a>, which is "a JavaScript implementation of the Elasticsearch DSL for use with the official elasticsearch javascript client" - i.e. makes it much, much easier to construct and send a query in vanilla JS (which can be pretty horrible); and <a href="#">elasticsearch.angular.js</a> which provides us with an injectable Angular component around which we can construct a service, factory, or provider.</p>
